
.chat-card {
    max-height: 600px;
}

.chat-box {
    padding: 10px;
    border-radius: 20px;
}

.message {
    margin: 10px;
    max-width: 350px;
    background-color: gray;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    font-size: 30px;
    display: block;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .message {
        max-width: 200px;
        border-radius: 10px;
        font-size: 20px;
    }
}

.you {
    margin-left: 0;
    margin-right: auto;

}

.me {
    margin-left: auto;
    margin-right: 0;
    background-color: rgb(56, 79, 95);
}

.chat-input {
    height: 70px;
    width: 90%;
    margin: 10px 10px 0px 10px;
    padding: 20px;
    text-align: left;
    border-radius: 30px;
}

.chat-input:focus {
    border-radius: 30px;
}

.tone-bubble {
    margin: 10px 10px 10px 0px;
    font-size: 15px;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
}